.has4 {
    font-size: 26px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #242424;
}

.box-2 {
    width: 50%;
}

.box-3 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.box-4 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    flex: 1 1 auto;
    float: left;
    min-height: 1px;
    padding: 1rem;
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.box-5 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    flex: 1 1 auto;
    float: right;
    min-height: 1px;
    padding: 1rem;
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

@media (max-width: 890px) {
    .has2 {
        font-size: 28px;
    }
    .box-3 {
        width: 90%;
    }
    .box-2 {
        width: 90%;
    }
    .box-4 {
        width: 100%;
    }
    .box-5 {
        width: 100%;
    }
}

@media (max-width: 590px) {
    .has4 {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .has4 {
        font-size: 17px;
    }
}