.specify {
    display: none;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.specify-content {
    background-color: #fefefe;
    width: 40%;
    margin: 5% auto 15% auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

.font input[class=form-control] {
    width: 90%;
}

.font p {
    float: left;
    padding-left: 5%;
}

.font p b {
    float: left;
    font-size: 18px;
}

@media (max-width: 890px) {
    .specify-content {
        width: 60%;
        margin-top: 150px;
    }
}

@media (max-width:520px) {
    .specify-content {
        width: 90%;
        margin-top: 100px;
    }
}