.has4 {
    font-size: 26px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    color: #242424;
}

.box-2 {
    width: 100%;
    margin-bottom: 20px;
}

.box-3 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.box-4 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    float: left;
    padding: 15px;
    width: 49%;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.box-5 {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    float: left;
    padding: 15px;
    width: 49%;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.box-6 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

button[class="btn btn-primary"],
button[class="btn btn-danger"] {
    width: 24%;
    font-family: 'Kanit', sans-serif;
}

@media (max-width: 995px) {
    .box-3 {
        width: 90%;
    }
    .box-2 {
        width: 100%;
    }
    .box-4 {
        width: 90%;
    }
    .box-5 {
        width: 90%;
        margin-left: 0px;
    }
}

@media (max-width: 890px) {
    .has2 {
        font-size: 28px;
    }
    .box-3 {
        width: 90%;
    }
    .box-2 {
        width: 90%;
    }
    .box-4 {
        width: 100%;
    }
    .box-5 {
        width: 100%;
    }
    table {
        width: 90%;
    }
    .th-2,
    .th-3 {
        width: 25%;
    }
    table {
        font-size: 18px;
    }
    button[class="btn btn-primary"],
    button[class="btn btn-danger"] {
        width: 90%;
        margin-bottom: 10px;
    }
}

@media (max-width: 590px) {
    .has4 {
        font-size: 22px;
    }
    table {
        width: 90%;
    }
    .th-2,
    .th-3 {
        width: 45%;
    }
    table {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .has4 {
        font-size: 17px;
    }
    table {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .has4 {
        font-size: 15px;
    }
    table {
        font-size: 8px;
    }
}